<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DBconnectionString"
         connectionString="Server=LAPTOP-ASPIRE5\SQLEXPRESS;
         Database=T4DDBMonitoring;
         Trusted_Connection=True;
         TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  
  
  <appSettings>

    <!--Software license expires 20260425 -->
    <add key = "LicenseCode" value = "GQgeHwIKaGxqbmhv" />

    <!-- Yes/No -->
    <add key="freezeScreen" value="Yes" />
    <add key="computeMeanDeltas" value="No" />
    <add key="updateSensorList" value="No" />
    <add key="PrepareCoordinateExportWorkbook" value="No" />
    <add key="includeHeader" value="Yes" />
    <add key="ReplacementNames" value="Yes" />
    
    <!-- ===================== Time block configuration ===================== -->
    <!-- Manual | Schedule | Historic -->
    <add key="TimeBlockType" value="Manual" />
    <add key="manualBlockStart" value="'2025-05-23 12:00'" />
    <add key="manualBlockEnd" value="'2025-05-23 20:00'" />
    <add key="BlockSizeHrs" value="24" />

    <!-- Folders -->
    <add key="SystemStatusFolder" value="C:\__SystemLogs\" />
    <add key="SystemAlarmFolder" value="C:\__SystemAlarms\" />

    <!-- Project settings -->
    <add key="ProjectTitle" value="SIS-010_York" />
    <add key="ContractTitle" value="CrdExport_test" />
    <add key="ReportType" value="CoordinateExport" />
    <add key="CoordinateOrder" value="ENH" />

    <add key="DataJumpTriggerLevel" value="0.030" />
   
    <!-- Excel workbook settings -->
    <add key="ExcelPath" value="C:\__SoftwareTest\ExportCoordinates\" />
    <add key="ExcelFile" value="Test_data.xlsx" />
    <add key="FTPSubdirectory" value="C:\__SoftwareTest\ExportCoordinates\FTPpush\" />
    <add key="ReferenceWorksheet" value="Reference" />
    <add key="SurveyWorksheet" value="Survey" />
    <add key="FirstDataRow" value="2" />
    <add key="FirstOutputRow" value="8" />
    
    <!-- SMS settings -->
    <add key="SMSTitle" value="Drogheda" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- JAGDE -->
    <add key="Phone2" value="+447729481504" /><!-- JAGUK -->
    <add key="Phone3" value="+353876509137" /><!-- Rob -->

    <!-- Email settings GNA-->
    <add key="EmailFrom" value="gnasoftwareteam@gmail.com" />
    <add key="EmailLogin" value="gnasoftwareteam@gmail.com" />
    <add key="EmailPassword" value="dxdganvkkxjsqsde" />
    <add key="AddAttachment" value="No" />
    <add key="EmailRecipients" value="gnajag2025@gmail.com" />
    
    
    
    

  </appSettings>
  
  
</configuration>