<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DBconnectionString"
         connectionString="Server=LAPTOP-ASPIRE5\SQLEXPRESS;
         Database=T4DDBMonitoring;
         Trusted_Connection=True;
         TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  
  
  <appSettings>

    <!--Software license expires 20260425 -->
    <add key = "LicenseCode" value = "GQgeHwIKaGxqbmhv" />

    <!-- Yes/No -->
    <add key="freezeScreen" value="No" />
    <add key="updateSensorList" value="No" />
    <add key="PrepareCoordinateExportWorkbook" value="No" />


    <!-- ===================== CSV File configuration ===================== -->
    <add key="CoordinateOrder" value="ENH" />
    <add key="includeHeader" value="Yes" />
    <add key="ReplacementNames" value="Yes" />
    <add key="OutputFileExtension" value="csv" />
    <add key="CSVseparator" value="," />
    <!-- Standard | Datum | Dywidag | MissionOS -->
    <add key="CSVformat" value="Standard" />
    <add key="computeMeanDeltas" value="Yes" />

    <!-- ===================== Time block configuration ===================== -->
    <!-- Manual | Schedule | Historic -->
    <add key="TimeBlockType" value="Historic" />
    <add key="manualBlockStart" value="'2026-02-06 00:00'" />
    <add key="manualBlockEnd" value="'2026-02-06 10:00'" />
    <add key="BlockSizeHrs" value="2" />

    <!-- Folders -->
    <add key="SystemLogsFolder" value="C:\__SystemLogs\" />
    <add key="SystemAlarmFolder" value="C:\__SystemAlarms\" />

    <!-- Project settings -->
    <add key="ProjectTitle" value="St Georges Bridge" />
    <add key="ContractTitle" value="St Georges Bridge" />
    <add key="ReportType" value="CoordinateExport" />


    <add key="DataJumpTriggerLevel" value="0.030" />
   
    <!-- Excel workbook settings -->
    <add key="ExcelPath" value="C:\__SoftwareTest\ExportCoordinates\" />
    <add key="ExcelFile" value="STGB_Coordexport_master_20260206.xlsx" />
    <add key="FTPSubdirectory" value="C:\__SoftwareTest\ExportCoordinates\FTPpush\" />
    <add key="ReferenceWorksheet" value="Reference" />
    <add key="SurveyWorksheet" value="Survey" />
    <add key="FirstDataRow" value="2" />
    <add key="FirstOutputRow" value="8" />
    
    <!-- SMS settings -->
    <add key="SMSTitle" value="STGB" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- JAGDE -->
    <add key="Phone2" value="+447729481504" /><!-- JAGUK -->
    <add key="Phone3" value="+353876509137" /><!-- Rob -->

    <!-- Email settings GNA-->
    <add key="EmailFrom" value="gnasoftwareteam@gmail.com" />
    <add key="EmailLogin" value="gnasoftwareteam@gmail.com" />
    <add key="EmailPassword" value="dxdganvkkxjsqsde" />
    <add key="AddAttachment" value="No" />
    <add key="EmailRecipients" value="gnajag2025@gmail.com" />
  </appSettings>
  
  
</configuration>