<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!--Software license expires 20260425 -->
    <add key = "LicenseCode" value = "GQgeHwIKaGxqbmhv" />

    <!-- Yes/No -->
    <add key="freezeScreen" value="Yes" />

    <!-- ===================== Time block configuration ===================== -->
    <!-- Manual | Schedule | Historic -->
    <add key="TimeBlockType" value="Manual" />
    <add key="manualBlockStart" value="'2025-12-07 00:00'" />
    <add key="manualBlockEnd" value="'2025-12-07 10:00'" />
    <add key="BlockSizeHrs" value="24" />
    
    
    
    <!-- Folders -->
    <add key="SystemStatusFolder" value="C:\__SystemLogs\" />
    <add key="SystemAlarmFolder" value="C:\__SystemAlarms\" />

    <!-- SMS settings -->
    <add key="SMSTitle" value="Drogheda" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- JAGDE -->
    <add key="Phone2" value="+447729481504" /><!-- JAGUK -->
    <add key="Phone3" value="+353876509137" /><!-- Rob -->


    <!-- Email settings GNA-->
    <add key="EmailFrom" value="gnasoftwareteam@gmail.com" />
    <add key="EmailLogin" value="gnasoftwareteam@gmail.com" />
    <add key="EmailPassword" value="dxdganvkkxjsqsde" />
    <add key="AddAttachment" value="No" />
    <add key="EmailRecipients" value="gnajag2025@gmail.com" />
    
    
    
    

  </appSettings>
  
  
</configuration>